
// 左侧菜单宽度
$base-menu-width:260px;
$base-menu-foldWidth:70px;
$base-menu-background:#00152b;

// 导航栏变量
$base-tabbar-height:50px;

// 左侧菜单 logo 高度设置
$base-menu-logo-height:50px;

// 左侧菜单 logo 右侧文字大小
$base-logo-title-fontsize:20px;